@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VCubWatcher</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This application gives live feedback of Vcub bikes' status</p>
    <p>Made by Akram Abdoul-Wahab</p>
</div>
